<amp-social-share 
    type="email"
    width="60" 
    height="44"
    data-param-subject="{{page.title | default: site.title}}"
    data-param-body="{{site.url}}{{page.url}}" />
<amp-social-share 
    type="gplus"
    width="60" 
    height="44"
    data-param-url="{{site.url}}{{page.url}}" />
<amp-social-share 
    type="linkedin"
    width="60" 
    height="44"
    data-param-text="{{page.title | default: site.title}}"
    data-param-url="{{site.url}}{{page.url}}" />

<amp-social-share 
    type="whatsapp"
    width="60" 
    height="44"
    data-param-text="Visit {{page.title | default: site.title}} @ {{site.url}}{{page.url}}"/>

<amp-social-share 
    type="twitter"
    width="60" 
    height="44"
    data-param-text="{{page.title | default: site.title}}"
    data-param-url="{{site.url}}{{page.url}}" />

<amp-social-share 
    type="tumblr"
    width="60" 
    height="44"
    data-param-text="{{page.title | default: site.title}}"
    data-param-url="{{site.url}}{{page.url}}" />


<amp-social-share 
    type="linkedin"
    width="60" 
    height="44"
    data-param-text="{{page.title | default: site.title}}"
    data-param-url="{{site.url}}{{page.url}}" />

    